PORT=8008
NODE_ENV=development
DATABASE_URL="postgresql://user:password@host:port/database?sslmode=require&channel_binding=require"
JWT_ACCESS_SECRET="your_jwt_access_secret"
APP_URL=http://localhost:3000
RESEND_API_KEY="your_resend_api_key"
RESEND_FROM_EMAIL="noreply@yourdomain.com"
